@charset "UTF-8";

@font-face {
	font-family: 'Montserrat';
	font-weight: 400;
	font-display: swap;
	font-style: normal;
	font-named-instance: 'Regular';
	src: url("./Montserrat-Regular.woff2") format("woff2");
}
@font-face {
	font-family: 'Montserrat';
	font-weight: 700;
	font-display: swap;
	font-style: normal;
	font-named-instance: 'Bold';
	src: url("./Montserrat-ExtraBold.woff2") format("woff2");
}

*, *::before, *::after { box-sizing: border-box; }

html { font-family: 'Montserrat', Trebuchet, sans-serif; font-size: 16px; line-height: 1.5em; }

body { display: block; min-height: 100vh; margin: 0; text-rendering: optimizeSpeed; }

img, picture { max-width: 100%; display: block; }

input, button, textarea, select { font: inherit; }

strong { font-weight: 900; }

a { color: #627500; }
a:hover { color: #000; }

.ScreenReaders { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0);white-space: nowrap; border-width: 0; }

.Button { display: block; padding: 0.5em 1em; background: #627500; color: #fff; font-weight: normal; text-transform: uppercase; text-decoration: none; text-align: center; border-radius: 0.5em;
	&:hover { background: #000; color: #fff; }
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/**********************************/

.Container {  }
	.Header { display: flex; height: 2.75rem; position: sticky; top: 0; background: white; box-shadow: 0 1em 1em rgba(0,0,0,0.1); z-index: 2; }
		.Logo { display: block; height: 3.75rem; position: relative; z-index: 1; background: #627500; box-shadow: 0 0.5em 0.5em rgba(0,0,0,0.1); }
			.LogoImage { display: block; width: 3.75rem; height: 3.75rem; }
		.TriggerButton { display: block; padding: 0.375rem; margin: 0; background: transparent; border: none; appearance: none; cursor: pointer;
			&:hover { background: #eee; }
		}
			.MenuTrigger {
				&.Active { background: #eee; }
			}
			.CartTrigger {  }
				.TriggerImage { display: block; width: 2rem; height: 2rem; }
					.MenuTriggerImage {}
					.CartTriggerImage {}
		.SearchForm { flex-grow: 1; padding: 0.1875rem; }
			.Fieldset { display: block; padding: 0; border: none; position: relative; }
				.Legend {  }
					.Label { display: block; cursor: pointer;
						&:hover { color:#627500; }
					}
						.SearchLabel {}
							.SearchLabelText {}
							.Input { display: block; width: 100%; height: 2.375rem; padding: 0 0.5em; line-height: 2rem; border: 1px solid #777; border-radius: 1em; outline: none; }
								.SearchInput {}
					.SubmitButton {  }
						.SearchSubmit { display: block; position: absolute; right: 0; top: 0; bottom: 0; border: 1px solid #777; border-top-right-radius: 1rem;; border-bottom-right-radius: 1rem; }
							.SearchSubmitImage { display: block; width: 1.5rem; height: 1.5rem; }
		.MainMenu { display: none; height: calc(100vh - 2.75rem); padding: 1rem 0; position: absolute; top: 2.75rem; right: 0; bottom: 0; left: 0; background: #eee; overflow-y: auto;
			@media (min-width: 1024px) { height: initial; padding: 0; left: initial; bottom: initial; overflow-y: initial; box-shadow: 0 1em 1em rgba(0,0,0,0.2); }
		}
		.MainMenu.Active { display: block; }
			.MainMenuList { display: block; padding: 0; margin: 0; }
				.MainMenuItem { display: block; }
					.MainMenuLink { display: block; padding: 0.5em 1em; color: #222; background: transparent; font-size: 1.5em; font-weight: 700; text-decoration: none;
						&:hover { color: #627500; background: white; }
					}
					.MainMenuSublist { display: block; padding: 0; margin: 0; }
						.MainMenuSubitem { display: block; }
							.MainMenuSublink { display: block; padding: 0.75em 1.5em; color: #222; background: transparent; text-decoration: none;
								&:hover { color: #627500; background: white; }
							}
	.Main {  }
		.Slider { display: block; position: relative; max-width: 86rem; margin: 0 auto; }
			.SliderList { display: block; margin: 0 0 4.5rem; padding: 0; position: relative; }
				.SliderItem { display: none;
					&.Active { display: block; animation: fadeIn 0.5s ease-in-out both; }
				}
					.SliderLink { display: block; }
						.SliderImage { display: block; }
							.SliderImage img { display: block; width: 100%; height: auto; }
			.SliderControls { display: block; position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
				.SliderArrows { display: block; position: absolute; top: 25vw; padding: 0 4vw; z-index: 1;
					&:hover { opacity: 0.5; }
					@media (min-width: 750px) { top: 13vw; }
					@media (min-width: 1375px) { top: 12rem; padding: 0 1rem; }
				}
					.SliderPrev { left: 0;
						@media (min-width: 1600px) { left: -6rem; }
					}
					.SliderNext { right: 0;
						@media (min-width: 1600px) { right: -6rem; }
					}
						.SliderArrowImage { display: block; width: clamp(1.5rem, 5vw, 4rem); height: auto; }
						.SliderPrev .SliderArrowImage { transform: rotate(180deg); }
				.SliderPicker { display: flex; flex-direction: row; flex-wrap: nowrap; max-width: calc(100vw - 20px); overflow: auto; padding: 0 0 0 0.5rem; margin: 0; position: absolute; bottom: -4rem; list-style: none;
					@media (min-width: 750px) { width: 100%; justify-content: center; }
				}
					.SliderPickerItem { display: block; margin: 0.5rem 2px 0.5rem 0; }
						.SliderPickerLink { display: block; width: 2em; height: 2em; background: #fff; border: 2px solid #627500; border-radius: 50%;
							&:hover { border-color: #000; background: #627500; }
							.Active & { background: #627500; }
							.Active &:hover { background: #000; }
						}
							.SliderPickerText { display: block; width: 0; white-space: nowrap; overflow: hidden; }
		.Features { display: block; padding: 1rem 0 0; }
			.FeaturesTitle { display: block; margin: 1rem; font-size: 2rem; line-height: 1em; text-align: center; }
			.FeaturedList { display: flex; flex-direction: column; justify-content: center; margin: 0 auto; padding: 0 0 1em; list-style-type: none;
				@media (min-width: 750px) { flex-direction: row; }
			}
				.FeaturedItem { display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; margin: 0 0 1em; padding: 0 1em; }
					.FeaturedItem img { display: block; }
					.FeaturedItemTitle { display: block; margin: 0 0 0.5rem; font-size: 1.5rem; line-height: 1em; }
					.FeaturedParagraph { display: block; margin: 0; }
			.MainFeature { display: flex; flex-direction: column; align-items: center; padding: 1rem 0; border-top: 1px solid #eee; text-align: center;
				@media (min-width: 750px) { flex-direction: row; justify-content: center; }
			}
				.MainFeature img { display: block; }
					.MainFeatureParagraph { display: block; margin: 1rem; }
		.BookGrid { display: block; padding: 1rem 0 2rem; background: rgba(166,177,126,.14); }
			.BookGridTitle { display: block; margin: 1rem; font-size: 2rem; line-height: 1em; }
			.BookGridList { display: block; margin: 0; padding: 0; list-style-type: none;
				@media (min-width: 650px) { display: grid; grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); }
			}
				.BookGridItem { display: block; clear: both; position: relative; margin: 1rem 0; padding: 0 0 1rem 0; border-bottom: 1px solid #ddd;
					@media (min-width: 650px) { margin: 0; padding: 0; border-bottom: none; }
				}
					.BookGridLink { display: block; padding: 0 1rem; color: #333; text-decoration: none;
						@media (min-width: 650px) { margin: 1rem; position: relative; background: white; border-bottom: 2rem solid #eee; box-shadow: 0 1em 1em rgba(0, 0, 0, 0.1); outline: 1px solid #eee; }
						&:hover { box-shadow: 0 0.5em 0.5em rgba(121, 153, 0, 0.5); border-bottom: 2rem solid #f8f8f8; outline: 1px solid #799900; }
					}
						.BookGridThumbnail { display: block; width: 100%; height: auto; margin-bottom: 1rem;
							@media (min-width: 380px) { float: left; width: 33%; height: auto; margin: 0.5rem 0.5rem 0 0; }
							@media (min-width: 580px) { width: 11rem; height: auto; }
							@media (min-width: 650px) { width: 100%; height: auto; max-width: 300px; margin: 1rem auto; }
						}
						.BookTitle { display: block; margin: 0.25rem 0; font-size: 1rem; line-height: 1.5em; }
						.BookAuthor { display: block; margin: 0.25rem 0; font-weight: normal; text-transform: uppercase; font-size: 1rem; line-height: 1.5em; color: #627500; }
						.BookDescription { display: block; margin: 0.25rem 0;
							@media (min-width: 480px) { overflow: hidden; }
							@media (min-width: 650px) { display: none; }
						}
						.Price { display: block; padding: 0.25rem 0.5rem; background: #fff; clear: both; font-size: 1.5rem; line-height: 1em; text-align: right;
							@media (min-width: 650px) { position: absolute; bottom: -2rem; right: 0; background: transparent; text-align: left; }
							.BookGridLink:hover & { color: #799900; }
						}
							.PriceCurrency { letter-spacing: -1.5px; }
								.Price span span { display: inline-block; margin: 0 -0.25em; position: relative; top: -0.25em; font-size: 0.6666em; border-bottom: 3px solid #ddd; line-height: 1em; }
						.Availability { display: flex; position: absolute; margin-top: -2rem;
							@media (min-width: 650px) { left: 0; bottom: -2rem; margin-top: 0; }
						}
								.AvailableTag { display: block; background: #f4bb3a; padding: 0.3333em 0.5em; text-transform: uppercase; font-size: 0.75rem;
									.AvailabilityLimited & { background: #e81c24; color: white; }
									.AvailabilityUnavailable & { background: #555; color: white; }
									.AvailabilityPreorder & { background: #53acb4; color: white; }
								}
								.AvailableDuration { display: none; padding: 0.25em; font-size: 0.75rem;
									.AvailabilityInStock & { display: block; }
								}
						.Discount { display: none; position: absolute; right: 0; top: 0.5rem; padding: 0.25em 0.5em; background: #ff6e40; color: #fff;
							.Discounted & { display: block; }
							@media (min-width: 650px) { right: -0.5rem; }
						}

	.Footer { display: block; padding-bottom: 1px; background: #eee; border-top: 1px solid #ddd; }
		.FooterContainer { max-width: 86rem; margin: auto;
			@media (min-width: 820px) { display: grid; grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: auto; grid-template-areas: "links misc newsletter" "contact payment security" "copyright copyright copyright";
			}
			@media (min-width: 1080px) { column-gap: clamp(2rem, 3vw, 4rem); row-gap: 1em; }
		}
			.FooterSection { display: block; }
			.FooterLinks { grid-area: links;
				@media (min-width: 500px) { float: left; width: 50%; }
				@media (min-width: 820px) { float: none; width: auto; grid-area: links; }
			}
			.FooterMisc { grid-area: misc;
				@media (min-width: 500px) { overflow: hidden; }
			}
			.FooterNewsletter { clear: both; grid-area: newsletter;
				@media (min-width: 500px) { padding-top: 1px; }
				@media (min-width: 820px) { padding-top: 0; }
			}
			.FooterContact { grid-area: contact; }
			.FooterPayment { grid-area: payment; }
			.FooterSecurity { grid-area: security; }
			.FooterCopy { grid-area: copyright;
				@media (min-width: 700px) { display: flex; flex-direction: row; border-top: 1px solid #ddd; }
			}
				.FooterTitle { display: block; margin: 2em 0 1em; padding: 0 1em; font-size: 1rem;
					@media (min-width: 1100px) { font-size: 1.5em; line-height: 1em; margin: 1.3333em 0 0.6666em; padding: 0 0.6666em; }
				}
				.FooterParagraph { display: block; padding: 0 1em;
					.FooterCopy & {
						@media (min-width: 700px) { font-size: 0.75rem; line-height: 1.5em; }
						@media (min-width: 990px) { width: 100%; text-align: right; }
					}
				}
				.FooterLinksList { display: block; list-style-type: none; margin: 0; padding: 0;
					.FooterCopy & {
						@media (min-width: 700px) { display: flex; flex-direction: row; font-size: 0.75rem; line-height: 1.5em; }
						@media (min-width: 990px) { width: 33.3333%; }
					}
				}
					.FooterLinksItem { display: block; }
						.FooterLink { display: block; position: relative; border-top: 1px solid #fff; border-bottom: 1px solid #ddd; padding: 0.5em 1em; text-transform: uppercase; text-decoration: none; color: #555;
							&:after { content: '\203A'; display: block; padding: 0.25em; position: absolute; right: 0; top: 0; font-size: 2em; line-height: 0.5em; }
							&:hover { background: #ddd; color: #000; }
							.FooterCopy & {
								@media (min-width: 700px) { padding: 1em; border: none; color: #627500; text-transform: none; white-space: nowrap;
									&:after { display: none; }
								}
							}
						}
				.FooterSocialList { display: flex; flex-wrap: wrap; list-style-type: none; margin: 0; padding: 0 1em; }
					.FooterSocialItem { display: block; margin: 0 1rem 1rem 0; }
						.FooterSocialLink { display: block; padding: 0.25rem; background: #ccc; border-radius: 0.25rem;
							&:hover { background: #627500; }
						}
							.FooterSocialLink svg { display: block; width: 2.25rem; height: 2.25rem;
								& * { fill: white; }
							}
				.FooterNewsletterForm { display: block; padding: 0 1em; }
					.NewsletterLabel { display: block; padding: 0 0 1em; }
						.NewsletterLabelText {  }
						.NewsletterInput {  }
					.NewsletterSubmit { display: block; width: 100%; padding: 1em; background: #627500; color: #fff; border: none; font-weight: bold; text-transform: uppercase; cursor: pointer; border-radius: 1em;
						&:hover { background: #000; color: #fff; }
					}

/**********************************/

@media (prefers-reduced-motion: reduce) {
	html:focus-within { scroll-behavior: auto; }
	*, *::before, *::after { animation-duration: 0.01ms !important; animation-iteration-count: 1 !important; transition-duration: 0.01ms !important; scroll-behavior: auto !important; }
}

@media print {

	* { background-image: none; background: white; color: black; }

	@page { margin: 2cm; }
	@page :first { margin-top: 3cm; }
	@page :left { margin-right: 3cm; }
	@page :right { margin-left: 3cm; }

	html { background: white; font-size: 12pt; line-height: 1.5em; }

	a:link, a:visited { color: #00f; background: transparent; font-weight: bold; }
	a:not([href^="http"]):after { content: " (" attr(href) ")"; font-size: 0.9em; }
	a[href^="/"]:after { content: " (https://viorelmocanu.github.io/LinkInBio" attr(href) ") "; }
	/*a:not(:local-link):after { content: " (" attr(href) ")»"; }*/
	a:after > img { content: ""; }

	body::after { content: "Copyright © Viorel Mocanu, toate drepturile rezervate."; display: block; text-align: center; }

	.Container { background: transparent; margin: 0; padding: 0; }

	h1, h2, h3, h4, h5, h6 { page-break-after: avoid; page-break-inside: avoid }
	h1 + h2 { page-break-before: avoid; }

	table, pre, img, svg, blockquote, a { break-inside: avoid; }

	ul, ol, dl { page-break-before: avoid; }

	.TitlulPaginii { padding-top: 0.5em; }
	.ListaText { display: inline; color: #00f; white-space: normal; text-decoration: underline; }

}